[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pyyaml = "*"
numpy = "*"
jinja2 = "*"
gitpython = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
